@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.inactive{
    display: none;
}

header{
    position:fixed;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #c6ff00;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

nav{
    width: 250px;
    display: flex;
    justify-content:space-between;
    color: #000;
    text-decoration: none;
}

.container-home{
    min-height: 100vh;
    max-width: 100%;
    padding-bottom: 3rem;
}

.container-home, 
.container-cards{
    background-image: linear-gradient(to bottom, #c6ff00, #edea2c, #ffd650, #ffc670, #ffbc8d);
}


.container-form-out{
    width: 250px;
    margin: 0 auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 1) 1px 1px 4px;
    border-radius: 4px;
    background-color: #fff;
}

h1{
    font-size: 1.5rem;
    width: 250px;
    margin: 0 auto;
    padding: 5rem 0 2rem;
    text-align: center;
}

.img-doacao{
    height: 300px;
    display: none;
    border-radius: 4px;
}

h2{
    font-size: 1.2rem;
    font-weight: 900;
    margin: 20px 0;
    text-align: center;
}

label {
    display: none;
}

input:focus::placeholder {
    color: transparent;
}

.container-form{
    height: 300px;
    width: 250px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.campo-form{
    margin-top: 10px;
}

input{
    background: none;
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 25px;
}

input:focus{
    border: rgb(51, 51, 51) 2px solid;
}

button{
    border: none;
    background: none;
    width: 100px;
    height: 25px;
    background-color: #c6ff00;
    border-radius: 25px;
}

.contato{
    background-color: #000;
    color: #fff;
}

button[type="submit"]{
    margin: 14px 0;
    background-color: #c6ff00;
}

button:active{
    background-color: rgb(0, 0, 0);
    color: rgb(221, 221, 221);
}

.container-msg{
    text-align: center;
}

h3{
    font-size: 1rem;
    font-weight: 200;
    padding: 3rem;
}

footer{
    text-align: center;
}

i{
    padding: 20px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.footer-links li{
    padding: 10px 20px;
}


@media (min-width: 700px){
    nav{
        width: 550px;;
    }
    
    .container-form-out{
        width: 550px;
    }

    .img-doacao{
        display: block;
    }

    h1{
        font-size: 2.5rem;
        width: 560px;
    }
    h3{
        font-size: 1.3rem;
        padding: 3rem 10rem;
    }
}