@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.inactive{
    display: none;
}

header{
    position:fixed; 
}

.container-home{
    min-height: 100vh;
    max-width: 100%;
    padding-bottom: 5rem ;
}

.container-home, 
.container-cards{
    background-image: linear-gradient(to bottom, #c6ff00, #edea2c, #ffd650, #ffc670, #ffbc8d);
}


.container-form-out{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 1.5rem;
    width: 250px;
    margin: 0 auto;
    padding: 5rem 0 2rem;
    text-align: center;
}

.img-doacao{
    height: 300px;
    display: none;
}

h2{
    font-size: 1.2rem;
    font-weight: 900;
    margin: 20px 0;
    text-align: center;
}

label {
    display: none;
}

input:focus::placeholder {
    color: transparent;
}

.container-form{
    height: 300px;
    width: 250px;
    background-color: rgb(212, 49, 49);
    box-shadow: rgba(0, 0, 0, 1) 1px 1px 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    /* margin: 25vh 0; */
}

.campo-form{
    margin-top: 10px;
}

input{
    background: none;
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 1px 1px;
}

input:focus{
    border: rgb(51, 51, 51) 2px solid;
}

button[type="submit"]{
    border: none;
    background: none;
    width: 100px;
    height: 25px;
    background-color: rgb(34, 34, 34);
    border-radius: 6px;
    color: white;
    margin: 14px 0;
}

button:active{
    background-color: rgb(0, 0, 0);
    color: rgb(221, 221, 221);
}

.container-msg{
    text-align: center;
}

h3{
    font-size: 1rem;
    font-weight: 200;
    padding: 3rem;
}



@media (min-width: 700px){
    .img-doacao{
        display: block;
    }

    h1{
        font-size: 2.5rem;
        width: 560px;
    }
    h3{
        font-size: 1.3rem;
        padding: 3rem 10rem;
    }
}